[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
authlib = "*"
environs = "*"
flask = "*"
flask-assets = "*"
flask-caching = "*"
flask-compress = "*"
flask-cors = "*"
flask-login = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-talisman = "*"
geojson = "*"
gunicorn = "*"
mysqlclient = "*"
polyline = "*"
redis = "*"
requests = "*"

[dev-packages]
black = "==19.10b0"
flake8 = "*"
flake8-mypy = "*"
gpxpy = "*"
lxml = "*"
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"
